.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
builds/
jenkins-data/
prometheus-data/
grafana-data/
grafana-provisioning/
sloth-data/slothrules.yml

# Ignore everything in prometheus-config except prometheus.yml
prometheus-config/*
!prometheus-config/prometheus.yml
